body {
  background-color: #f5f5f5;
  color: #999;
}
body a {
  font-style: none;
  color: #1b99e8;
}
body .test {
  color: #333;
  width: 100%;
  line-height: 38px;
  font-size: 24px;
  border-radius: 4px;
}
